### Server config
server.port=8080

### Application config
spring.application.name=AnTalk

### Database config
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/antalk
spring.datasource.username=postgres
spring.datasource.password=postgres

### Liquibase config
spring.liquibase.enabled=true
spring.liquibase.change-log=classpath:/liquibase/db-changelog.xml

### Dbqueue config
db-queue.shard-id=queue-shard-id
db-queue.table-name=queue_tasks

### JWT config
jwt.token.secret=your-super-secret-key
# 180 days
jwt.token.token-expiration-millis=15552000000
